Smart Delivery/Tesco.Com.Web.SmartDelivery/Service References/OrderService/AppStoreOrderService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ukdev66cexfw01v/MockOrderService/AppStoreOrderService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://ukdev66cexfw01v/MockOrderService/AppStoreOrderService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MockOrderService.DataMembers" />
  <xs:element name="GetCustomerOrderInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="orderId" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerOrderInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MockOrderService.DataMembers" minOccurs="0" name="GetCustomerOrderInfoResult" nillable="true" type="q2:ArrayOfOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>